[Desktop Entry]
Name=FightCade
Exec=wine /home/radpc/Desktop/Radpc/Games/FightCade/FightCade.exe
Type=Application
Categories=Game
StartupNotify=false
Name[en_US]=FightCade.desktop
